NodeRed_System.json
[{"id":"e10e52a.242c5b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ec45d4a0.1ff6a8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#1c819d","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#1c819d","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#2cb4d9","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#1c819d","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Sistema de Monitoreo 3 Lagunas","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ada33b87.9a7ab8","type":"ui_group","name":"Group 1","tab":"","order":2,"disp":true,"width":"5","collapse":true},{"id":"a99536f5.627678","type":"ui_spacer","name":"spacer","group":"ada33b87.9a7ab8","order":1,"width":5,"height":1},{"id":"65097a25.372784","type":"ui_spacer","name":"spacer","group":"ada33b87.9a7ab8","order":2,"width":5,"height":1},{"id":"591831b5.4fbee","type":"ui_spacer","name":"spacer","group":"ada33b87.9a7ab8","order":3,"width":5,"height":1},{"id":"3f85f520.62df9a","type":"ui_spacer","name":"spacer","group":"ada33b87.9a7ab8","order":4,"width":5,"height":1},{"id":"ae0f03a.dc504","type":"ui_spacer","name":"spacer","group":"ada33b87.9a7ab8","order":5,"width":5,"height":1},{"id":"5da5acb5.878f5c","type":"ui_spacer","name":"spacer","group":"ada33b87.9a7ab8","order":6,"width":5,"height":1},{"id":"6bec1769.364dc8","type":"ui_spacer","name":"spacer","group":"ada33b87.9a7ab8","order":7,"width":5,"height":1},{"id":"6b06ac74.f1ddf4","type":"ui_spacer","name":"spacer","group":"ada33b87.9a7ab8","order":8,"width":5,"height":1},{"id":"a3dde0ec.81ebc8","type":"ui_spacer","name":"spacer","group":"ada33b87.9a7ab8","order":9,"width":5,"height":1},{"id":"6f02164a.a98b38","type":"ui_spacer","name":"spacer","group":"ada33b87.9a7ab8","order":10,"width":5,"height":1},{"id":"361f8a1e.52e08e","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"480d33f4.a85cac","type":"mqtt-broker","name":"","broker":"nam1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"be041bf8.5532e","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":9,"collapse":false},{"id":"45ce1074.7fd6d8","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"","tz":"","charset":"UTF8"},{"id":"d1a0f04c.7187c","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"54161d99.622eac","type":"ui_group","name":"Group 4","tab":"","order":2,"disp":true,"width":"13","collapse":true},{"id":"f4c25dd.07f4aa","type":"ui_group","name":"Default2","tab":"","order":1,"disp":true,"width":"14","collapse":false},{"id":"115b6750.7f4c09","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"f826deea.023c68","type":"ui_tab","name":"Nodos ","icon":"Nodos","order":1,"disabled":false,"hidden":false},{"id":"999c5f3.3b078a","type":"ui_tab","name":"Datos Real Time","icon":"Datos ","order":2,"disabled":false,"hidden":false},{"id":"58af955.dc4c4ec","type":"ui_group","name":"Temperatura Nodo A","tab":"999c5f3.3b078a","order":1,"disp":true,"width":"22","collapse":true},{"id":"7c79e559.4eb064","type":"ui_tab","name":"Visualización Time Series","icon":"Storage","order":3,"disabled":false,"hidden":false},{"id":"8f74eba5.da0138","type":"MySQLdatabase","name":"","host":"remotemysql.com","port":"3306","db":"GbVLGLpuZ1","tz":"","charset":"UTF8"},{"id":"f60d7369.68b058","type":"ui_group","name":"Búsqueda:","tab":"7c79e559.4eb064","order":1,"disp":true,"width":"5","collapse":true},{"id":"4b22d073.1115f","type":"ui_group","name":"Reporte","tab":"7c79e559.4eb064","order":2,"disp":true,"width":17,"collapse":true},{"id":"49361e3d.b84768","type":"ui_group","name":"","tab":"f826deea.023c68","order":1,"disp":true,"width":"6","collapse":false},{"id":"d297136b.1f322","type":"ui_group","name":"Busqueda 2","tab":"7c79e559.4eb064","order":3,"disp":true,"width":"6","collapse":false},{"id":"ed67a06e.da206","type":"ui_group","name":"Reporte 2","tab":"7c79e559.4eb064","order":4,"disp":true,"width":17,"collapse":false},{"id":"19b82e51.1ea802","type":"mqtt in","z":"e10e52a.242c5b","name":"aplicacion nodo 43","topic":"#","qos":"1","datatype":"auto","broker":"480d33f4.a85cac","nl":false,"rap":true,"rh":0,"x":103,"y":519,"wires":[["edea7ee6.ebd848","a26936d5.f37738","16248b2d.c8665d"]]},{"id":"edea7ee6.ebd848","type":"debug","z":"e10e52a.242c5b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":319.99993896484375,"y":628.0000305175781,"wires":[]},{"id":"a26936d5.f37738","type":"json","z":"e10e52a.242c5b","name":"","property":"payload","action":"","pretty":false,"x":337,"y":428.20001220703125,"wires":[["b38225df.c3cba"]],"l":false},{"id":"b38225df.c3cba","type":"debug","z":"e10e52a.242c5b","name":"json structure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":891.2000732421875,"y":372.20001220703125,"wires":[]},{"id":"28e6df0f.d0ae3","type":"debug","z":"e10e52a.242c5b","name":"Humedad","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.uplink_message.decoded_payload.humidity","targetType":"msg","statusVal":"","statusType":"auto","x":885,"y":429.0000305175781,"wires":[]},{"id":"aaad5c0.2421da8","type":"debug","z":"e10e52a.242c5b","name":"temperatura","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":889,"y":508.99993896484375,"wires":[]},{"id":"16248b2d.c8665d","type":"json","z":"e10e52a.242c5b","name":"transfor to JSON data","property":"payload","action":"","pretty":false,"x":353,"y":512,"wires":[["28e6df0f.d0ae3","6c2f4b27.dbdc94","bcc99fa8.3a4d4","1385fde6.631322"]]},{"id":"6c2f4b27.dbdc94","type":"function","z":"e10e52a.242c5b","name":"change","func":"var m =Math.round(Math.random()*10);\nvar n = Number(msg.payload.uplink_message.decoded_payload.humidity);\nmsg.payload = n/100;\n\nmsg.topic=\"Humedad\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":735.9999389648438,"y":472.0000305175781,"wires":[["b8e32fd0.107558"]],"l":false},{"id":"b8e32fd0.107558","type":"debug","z":"e10e52a.242c5b","name":"123","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":466.0000305175781,"wires":[]},{"id":"bcc99fa8.3a4d4","type":"function","z":"e10e52a.242c5b","name":"change","func":"\nvar n = Number(msg.payload.uplink_message.decoded_payload.temperature);\nvar m = Math.round((Math.random()+1)*100)/100;\nvar n2 = (n/100)/m;\nmsg.payload = n2.toFixed(2);\nmsg.topic=\"Temperatura\";\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":722.9999389648438,"y":529.0000305175781,"wires":[["aaad5c0.2421da8","3f6bd6a7.1e778a","9cded21a.d93738"]],"l":false},{"id":"3f6bd6a7.1e778a","type":"ui_chart","z":"e10e52a.242c5b","name":"real time temperature node43 ","group":"58af955.dc4c4ec","order":1,"width":22,"height":"10","label":"","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1146,"y":544.9999694824219,"wires":[[]]},{"id":"b448d786.c9c47","type":"ui_table","z":"e10e52a.242c5b","group":"361f8a1e.52e08e","name":"Table Temperature","order":2,"width":10,"height":7,"columns":[{"field":"savedCount","title":"#","width":"10","align":"left","formatter":"rownum","formatterParams":{"target":"_blank"}},{"field":"time","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temperature","title":"Temperatura","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1030,"y":586.9999694824219,"wires":[],"l":false},{"id":"9cded21a.d93738","type":"function","z":"e10e52a.242c5b","name":"change","func":"var n = msg.payload; // number uplink\n\ntableData = flow.get(\"savedData\") || [];\n\ntableData.unshift({\n    //\"savedCount\": flow.get(\"savedCount\"),\n    \"time\": \"35\",\n    \"temperature\": msg.payload\n});\n\nmsg.payload = tableData;\nflow.set(\"savedData\", tableData); \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":896.2000732421875,"y":586.9999694824219,"wires":[["59c7318f.84918","b448d786.c9c47"]],"l":false},{"id":"59c7318f.84918","type":"debug","z":"e10e52a.242c5b","name":"temperatura22222","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":913.2000732421875,"y":647,"wires":[]},{"id":"a978b2cc.3d77b","type":"comment","z":"e10e52a.242c5b","name":"DATA from Json -> TTN & REAL TIME Graph","info":"> # How to obtain data from TTN JSON","x":580.9500122070312,"y":299.8499755859375,"wires":[]},{"id":"611d0b6e.cf8494","type":"comment","z":"e10e52a.242c5b","name":"1st UPLOAD DATA -> MYSQL","info":"> # How to obtain data from TTN JSON","x":519.1166381835938,"y":758.816650390625,"wires":[]},{"id":"d45a3d46.84b05","type":"comment","z":"e10e52a.242c5b","name":"2nd Time Series DATA with MYSQL","info":"","x":521.1166687011719,"y":1044.9166259765625,"wires":[]},{"id":"12514d2a.97c6e3","type":"comment","z":"e10e52a.242c5b","name":"3rd Download csv DATA from MYSQL","info":"","x":521.1166687011719,"y":1305.2166748046875,"wires":[]},{"id":"8756b924.dfee1","type":"mysql","z":"e10e52a.242c5b","mydb":"8f74eba5.da0138","name":"upload node data -> mysql","x":676.3333740234375,"y":887.1333618164062,"wires":[["acc07dac.f775c8"]]},{"id":"1385fde6.631322","type":"function","z":"e10e52a.242c5b","name":"example request DB","func":"//---------------------------------------------\n//----------- TTN -----------------------------\n//---------------------------------------------\n//node id \nvar id = msg.payload.end_device_ids.device_id;\n//node addr\nvar addr = msg.payload.end_device_ids.dev_addr;\n\n// temperature\nvar n = Number(msg.payload.uplink_message.decoded_payload.temperature);\nvar m = Math.round((Math.random()+1)*100)/100;\nvar temp = (n/100)/m;\n//---------------------------------------------\n//----------- SQL -----------------------------\n//---------------------------------------------\nvar sql = \"\";\nvar outputs = [];\n\n// Epoch time\nvar d = new Date();     // actual date time\nvar epoch = d.getTime();\n// columnas\nvar variable1 = \"TEMPERATURE_LEVEL\";\nvar variable2 = \"HUM_LEVEL\";\n\n//msg.payload=[id, variable1, temp.toFixed(2), epoch];\n//msg.topic=\"INSERT INTO water_manager_TBL (`NODE_ID`, `VARIABLE`, `VALOR`, `EPOCH`) VALUES (?, ?, ?, ?);\"\nsql = \"INSERT INTO water_manager_TBL (`NODE_ID`, `VARIABLE`, `VALOR`, `EPOCH`) \" +\n        \"VALUES ('\"+id+\"','\"+variable1+\"',\"+temp.toFixed(2)+\",\"+epoch+\")\";\noutputs.push({topic:sql}); \ntemp = temp+2;\nsql = \"INSERT INTO water_manager_TBL (`NODE_ID`, `VARIABLE`, `VALOR`, `EPOCH`) \" +\n        \"VALUES ('\"+id+\"','\"+variable2+\"',\"+temp.toFixed(2)+\",\"+epoch+\")\";\noutputs.push({topic:sql});\n\nreturn [ outputs ]; //return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":359.3333740234375,"y":885.7999877929688,"wires":[["8756b924.dfee1"]]},{"id":"acc07dac.f775c8","type":"debug","z":"e10e52a.242c5b","name":"45","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":583.3333740234375,"y":959.6666870117188,"wires":[],"l":false},{"id":"468b022c.1c7324","type":"ui_chart","z":"e10e52a.242c5b","name":"","group":"4b22d073.1115f","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1231,"y":1196.0000610351562,"wires":[[]]},{"id":"b35a1ff.073bc6","type":"ui_dropdown","z":"e10e52a.242c5b","name":"","label":"Variable:","tooltip":"","place":"Select","group":"f60d7369.68b058","order":1,"width":5,"height":2,"passthru":true,"multiple":true,"options":[{"label":"Temperatura","value":"TEMPERATURE_LEVEL","type":"str"},{"label":"Humedad","value":"HUM_LEVEL","type":"str"},{"label":"PH","value":"PH_LEVEL","type":"str"},{"label":"ORP","value":"ORP_LEVEL","type":"str"}],"payload":"","topic":"variable","topicType":"str","x":160,"y":1140,"wires":[["ab36e76a.046808","96f3667a.be7e98"]]},{"id":"932d167e.a29c2","type":"ui_dropdown","z":"e10e52a.242c5b","name":"","label":"Periodo:","tooltip":"","place":"Select","group":"f60d7369.68b058","order":2,"width":5,"height":2,"passthru":true,"multiple":false,"options":[{"label":"Hoy","value":"today","type":"str"},{"label":"Ayer","value":"yesterday","type":"str"},{"label":"Semana","value":"week","type":"str"},{"label":"Mes","value":"month","type":"str"}],"payload":"","topic":"period","topicType":"str","x":160,"y":1080,"wires":[["ab36e76a.046808","5b3b0de3.50aaec"]]},{"id":"55ffadec.751234","type":"ui_dropdown","z":"e10e52a.242c5b","name":"","label":"Nodo:","tooltip":"","place":"Select","group":"f60d7369.68b058","order":3,"width":5,"height":2,"passthru":true,"multiple":true,"options":[{"label":"NODO-A433","value":"nodo433","type":"str"},{"label":"NODO-B433","value":"nodo431","type":"str"}],"payload":"","topic":"node","topicType":"str","x":150,"y":1200,"wires":[["ab36e76a.046808"]]},{"id":"5377186a.ff3f68","type":"ui_button","z":"e10e52a.242c5b","name":"","group":"f60d7369.68b058","order":4,"width":5,"height":1,"passthru":false,"label":"Buscar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":380,"y":1240,"wires":[["fecb93d3.447bf8","81d7623.bcee42","290528de.1267","c8552331.3132e"]]},{"id":"7606b48.316544c","type":"function","z":"e10e52a.242c5b","name":"","func":"var Week  = 604800000 ; //7 Days\nvar Day   =  86400000 ; // 1 Days\nvar d = new Date();     // actual date time\n//------------- epoch time-------\nvar epoch = d.getTime();\nvar fromdate = epoch - Day;\nvar enddate = epoch;\n//-------------------------------\nvar output = [];\n//-------------------------------\nlet request_n = [];\nlet request_v = [];\nvar cnt_n = 0; var cnt_v = 0;\nfor (var property in msg.payload) {\n    if (msg.payload.hasOwnProperty(property)) {\n        //output.push({ payload: property + \" has value \"+msg.payload[property] });\n        //if (msg.payload[property]) {\n            //var parts = property.split(\"/\");\n            var parts = []; parts [0]= property; parts [1]= msg.payload[property];\n            //output.push({ payload: parts });\n                \n            if (parts[0]===\"period\") {\n                switch (parts[1]) {\n                    case \"today\":\n                        fromdate = epoch-Day;\n                        enddate = epoch;\n                        break;\n                    case \"yesterday\":\n                        fromdate = epoch-2*Day;\n                        enddate = epoch-Day;\n                        break;\n                    case \"week\":\n                        fromdate = epoch-Week;\n                        enddate = epoch;\n                        break;\n                }\n            } else if(parts[0]===\"node\") {\n                request_n [cnt_n]=  msg.payload[property];\n                //cnt_n = cnt_n+1;\n            }else if(parts[0]===\"variable\"){\n                request_v [cnt_v]=  msg.payload[property];\n                //cnt_v = cnt_v+1;\n            }\n                //output.push({ topic: \"SELECT \"+parts[1]+\" FROM water_quality_TBL WHERE NODE_ID='\"+parts[0]+\"' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n        // }\n    }\n}\n\n\nconst VARS = String(request_v).split(\",\");\nconst NODES = String(request_n).split(\",\");\n\nfor (var i = 0; i < NODES.length; i++) {   \n    for (var j = 0; j < VARS.length; j++) {\n        //output.push({ topic: \"SELECT NODE_ID,EPOCH,\"+VARS[j]+\" FROM water_quality_TBL WHERE NODE_ID='\"+NODES[i]+\"' AND EPOCH >= \" + fromdate + \" AND EPOCH <= \" + enddate });\n        output.push({ topic: \"SELECT * FROM water_manager_TBL WHERE VARIABLE='\"+VARS[j]+\"' AND NODE_ID='\"+NODES[i]+\"' AND EPOCH >= \" + fromdate + \" AND EPOCH <= \" + enddate });\n        \n        //output.push({ topic: \"SELECT \"+VARS[j]+\" FROM water_quality_TBL WHERE NODE_ID='\"+NODES[i]+\"'\" });\n  \n    }\n}\n\n\n\noutput[output.length-1].complete=true;\n\nreturn [ output ];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":725.5,"y":1194.9999389648438,"wires":[["9d02602b.d8f218"]],"l":false},{"id":"ab36e76a.046808","type":"join","z":"e10e52a.242c5b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":348,"y":1133.0000610351562,"wires":[["f9b4b3fc.8f81d8","f2e1217c.94f49"]]},{"id":"f9b4b3fc.8f81d8","type":"change","z":"e10e52a.242c5b","name":"","rules":[{"t":"set","p":"search_parameters_demo","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1140,"wires":[[]]},{"id":"f2e1217c.94f49","type":"debug","z":"e10e52a.242c5b","name":"1aa","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":488.9999694824219,"y":1091.0000610351562,"wires":[],"l":false},{"id":"96f3667a.be7e98","type":"debug","z":"e10e52a.242c5b","name":"1b","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":317.60002517700195,"y":994.4000377655029,"wires":[],"l":false},{"id":"9d02602b.d8f218","type":"mysql","z":"e10e52a.242c5b","mydb":"8f74eba5.da0138","name":"request data -> mysql","x":880,"y":1160,"wires":[["517db564.a99bac"]]},{"id":"517db564.a99bac","type":"join","z":"e10e52a.242c5b","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":1220,"wires":[["20cca286.2a9d06","7b07d796.36d1"]]},{"id":"20cca286.2a9d06","type":"function","z":"e10e52a.242c5b","name":"","func":"\nlet chart = [{\n    \"series\":[],\n    \"data\":[],\n    \"labels\":[msg.title]\n}];\n\nif (msg.payload[0].length>0) {\n    // this is the logic when there are multiple data sets are received\n    for (let i=0; i<msg.payload.length; i++) {\n        chart[0].series.push(msg.payload[i][0].NODE_ID+\"/\"+msg.payload[i][0].VARIABLE);\n        chart[0].data.push([]);\n        let newdata = [];\n        for (let j=0; j<msg.payload[i].length; j++) {\n            chart[0].data[i].push({\"x\":msg.payload[i][j].EPOCH, \"y\":msg.payload[i][j].VALOR});\n        }\n    }\n} \n\nmsg.payload=chart;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1220,"wires":[["8a7f6c08.71856","468b022c.1c7324"]]},{"id":"8a7f6c08.71856","type":"debug","z":"e10e52a.242c5b","name":"2a","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1186,"y":1283,"wires":[],"l":false},{"id":"7b07d796.36d1","type":"debug","z":"e10e52a.242c5b","name":"1bb","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0][1].value","targetType":"msg","statusVal":"","statusType":"auto","x":994.8499755859375,"y":1336.050048828125,"wires":[],"l":false},{"id":"27b8af4f.85526","type":"ui_button","z":"e10e52a.242c5b","name":"","group":"f60d7369.68b058","order":5,"width":0,"height":0,"passthru":false,"label":"Limpiar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":994.6165771484375,"y":1106.2000122070312,"wires":[["6516b502.c56334"]]},{"id":"6516b502.c56334","type":"function","z":"e10e52a.242c5b","name":"","func":"msg.payload = [];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1107.8499755859375,"y":1107.6500244140625,"wires":[["468b022c.1c7324"]],"l":false},{"id":"fecb93d3.447bf8","type":"change","z":"e10e52a.242c5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"search_parameters_demo","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1240,"wires":[["7606b48.316544c"]]},{"id":"5b3b0de3.50aaec","type":"debug","z":"e10e52a.242c5b","name":"1oo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":308.1166687011719,"y":1049.9168090820312,"wires":[],"l":false},{"id":"81d7623.bcee42","type":"function","z":"e10e52a.242c5b","name":"","func":"\nreturn {\n    complete : true\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1180,"wires":[[]]},{"id":"c8552331.3132e","type":"function","z":"e10e52a.242c5b","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":161.94998168945312,"y":1299.8167114257812,"wires":[[]],"l":false},{"id":"290528de.1267","type":"trigger","z":"e10e52a.242c5b","name":"","op1":"","op2":"","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":224.95001220703125,"y":1342.4168090820312,"wires":[[]],"l":false},{"id":"43288ee7.e839","type":"ui_form","z":"e10e52a.242c5b","name":"","label":"Search Params","group":"d297136b.1f322","order":1,"width":6,"height":9,"options":[{"label":"Period: today","value":"period/today","type":"switch","required":true,"rows":null},{"label":"Variable: temperatura","value":"variable/temperature","type":"checkbox","required":false,"rows":null},{"label":"Variable: humedad","value":"variable/hum","type":"checkbox","required":false,"rows":null}],"formValue":{"period/today":false,"variable/temperature":false,"variable/hum":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":200,"y":1480,"wires":[["a25a6a32.87dca"]]},{"id":"a25a6a32.87dca","type":"debug","z":"e10e52a.242c5b","name":"form2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":355,"y":1380,"wires":[],"l":false},{"id":"7ea613c2.3d41b4","type":"ui_chart","z":"e10e52a.242c5b","name":"","group":"ed67a06e.da206","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":1520,"wires":[[]]}]